<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}"> -->
    {% block head %}
    {% endblock %}
</head>

<body class="my-container text-center">
    <header>{% block pagetitle %}{% endblock %} <a href="{{ url_for('logout') }}" method="post">Logout</a>
    </header>
    {% block body %}
    {% endblock %}
</body>

</html>